@if(match){
  <div class="match-button">
    <div class="match-date">{{match.startTime}}</div>
    <div class="match-teams">
      <img class="flag" [src]="match.homeTeam.flagPath">
      <div style="width: 60%; display: inline-block;">{{match.homeTeam.name}}-{{match.awayTeam.name}}</div>
      <img class="flag" [src]="match.awayTeam.flagPath">
    </div>
    <div class="match-date">{{match.stadium}}</div>
  </div>
}
<app-bets [match]="match"></app-bets>
<button type="button" (click)="goBack()">Back</button>
