@if(team){
    <div>
        <h2>{{team.name | uppercase}} Details</h2>
        <div>
            <label for = "team-ranking">Team Ranking: </label>
            <input id = "team-ranking" [(ngModel)]= "team.rankingPoints"
                   placeholder= "ranking point">
        </div>
        <!--Emit click event > lab 2 page 13-->
        <button type="button" (click)=clearDetails.emit()>CLEAR</button>
        @if(countryService.countryData){
          <a [href]="countryService.countryData.maps.googleMaps" type="button" target="_blank">MAP</a>
        }
    </div>
}
<!--@if(countryService.countryData){-->
<!--  <div>-->
<!--    <pre>{{countryService.countryData | json}}</pre>-->
<!--  </div>-->
<!--}-->
