<!--String team name for the first example of string interpolation > lab 1 page 12-->
<!--<h2>{{ team }}</h2>-->

<!--After we created team model > lab 1 page 16-->
<!--<h2>{{ team.name }}</h2>-->
<!--<h3>Ranking points: {{ team.rankingPoints }}</h3>-->
<!--<img [src] = "team.flagPath" width= "140" height= "100">-->

<!--Two way data binding example > lab 1 page 17-->
<!--<div>-->
<!--  <label for="name">Team name: </label>-->
<!--  <input id="name" [(ngModel)]= "team.name" placeholder="name">-->
<!--</div>-->
<div style="display: flex">
  <div style="width: 50%">
    @for (team of teams; track team.name; let i = $index) {
      <div #teamDiv class="teams">
        <!--Event handling onSelect > communicate with .ts code > lab 2 page 4 -->
<!--        <button type="button"-->
<!--                (click)="onSelect(team)"-->
<!--                [class.selected]="team === selectedTeam">-->
        <!--Change class.selected to ngClass > lab 2 page 21-->
<!--        <button type="button"-->
<!--                (click)="onSelect(team)"-->
<!--                [ngClass]="team === selectedTeam ? 'selected-team' : ''">-->
        <!--Override ngClass with ngStyle > lab 2 page 22-->
<!--        <button type="button"-->
<!--                  (click)="onSelect(team)"-->
<!--                  [ngStyle]="team === selectedTeam ? {color:'#F3F9E7'} : {color:'#7297d6'}"-->
<!--                  [ngClass]="team === selectedTeam ? 'selected-team' : ''">-->
        <!--Custom attribute directive appTeamButton > lab 2 page 24-->
        <button type="button"
                appTeamButton
                (click)="onSelect(team)"
                [ngStyle]="team === selectedTeam ? {color:'#F3F9E7'} : {color:'#7297d6'}"
                [ngClass]="team === selectedTeam ? 'selected-team' : ''">
          <span class="badge">{{i+1}}.</span>
          <span class="name">{{team.name}}</span>
          @if(team.flagPath) {
            <img class="flag" [src]="team.flagPath">
          } @else {
            Missing
          }
        </button>
      </div>
    }
  </div>
  <div style="width: 50%">
    <!--Details section > lab 2 page 6-->
    @if(selectedTeam) {
      <app-team-details
        [team]="selectedTeam"(clearDetails)="clearSelectedTeam()"></app-team-details>
<!--      <div>-->
<!--        <h2>{{selectedTeam.name | uppercase}} Details</h2>-->
<!--        <h3>Ranking points: {{selectedTeam.rankingPoints}}</h3>-->
<!--        <div>-->
<!--          <label for = "team-ranking">Team Ranking: </label>-->
<!--          <input id = "team-ranking"-->
<!--                 [(ngModel)]="selectedTeam.rankingPoints" placeholder="ranking point">-->
<!--        </div>-->
<!--      </div>-->
    }
  </div>
</div>


